# Use PHP7.2 as default
AddHandler application/x-httpd-ea-php72 .php


<IfModule mod_charset.c>

CharsetSourceEnc utf-8

CharsetDefault utf-8

</IfModule>

Options -Indexes

Options +SymLinksIfOwnerMatch

<IfModule mod_expires.c>

ExpiresActive on

ExpiresDefault                                "access plus 1 month"

ExpiresByType text/cache-manifest             "access plus 0 seconds"

# HTML

<FilesMatch \.(html|xhtml|xml|shtml|phtml|php|txt)$>

ExpiresDefault "access plus 0 seconds"

</FilesMatch>

ExpiresByType text/html                       "access plus 0 seconds"

# Data

ExpiresByType text/xml                        "access plus 0 seconds"

ExpiresByType application/xml                 "access plus 0 seconds"

ExpiresByType application/json                "access plus 0 seconds"

# XML

ExpiresByType application/rss+xml             "access plus 1 hour"

ExpiresByType application/atom+xml            "access plus 1 hour"

# Favicon

<FilesMatch \.(ico)$>

ExpiresDefault "access plus 1 week"

</FilesMatch>

ExpiresByType image/x-icon                    "access plus 1 week"

# Media

<FilesMatch \.(gif|png|jpg|jpeg|ogg|mp4|mkv|flv|swf|wmv|asf|asx|wma|wax|wmx|wm)$>

ExpiresDefault "access plus 1 year"

</FilesMatch>

ExpiresByType image/gif                       "access plus 1 month"

ExpiresByType image/png                       "access plus 1 month"

ExpiresByType image/jpeg                      "access plus 1 month"

ExpiresByType video/ogg                       "access plus 1 month"

ExpiresByType audio/ogg                       "access plus 1 month"

ExpiresByType video/mp4                       "access plus 1 month"

ExpiresByType video/webm                      "access plus 1 month"

# HTC (css3pie)

ExpiresByType text/x-component                "access plus 1 month"

# Font

<FilesMatch \.(eot|ttf|otf|svg|woff)$>

ExpiresDefault "access plus 1 year"

</FilesMatch>

ExpiresByType application/x-font-ttf          "access plus 1 month"

ExpiresByType font/opentype                   "access plus 1 month"

ExpiresByType application/x-font-woff         "access plus 1 month"

ExpiresByType image/svg+xml                   "access plus 1 month"

ExpiresByType application/vnd.ms-fontobject   "access plus 1 month"

# CSS и JavaScript

<FilesMatch \.(css|js)$>

ExpiresDefault "access plus 1 year"

</FilesMatch>

ExpiresByType text/css                        "access plus 1 year"

ExpiresByType application/javascript          "access plus 1 year"

# Static

<FilesMatch \.(swf|pdf|doc|rtf|xls|ppt)$>

ExpiresDefault "access plus 1 year"

</FilesMatch>

ExpiresByType application/x-shockwave-flash   "access plus 1 year"

ExpiresByType application/pdf                 "access plus 1 year"

ExpiresByType application/msword              "access plus 1 year"

ExpiresByType application/rtf                 "access plus 1 year"

ExpiresByType application/vnd.ms-excel        "access plus 1 year"

ExpiresByType application/vnd.ms-powerpoint   "access plus 1 year"

</IfModule>

# GZIP сжатие
<ifModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/xml
</ifModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/jpg "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/svg "access plus 1 year"
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType text/x-javascript "access plus 1 month"
  ExpiresByType image/x-icon "access plus 1 year"
  ExpiresDefault "access plus 2 days"
</IfModule>


# HTTP кэширование у клиента
<ifModule mod_headers.c>
    #кэшировать css, javascript и текстовые файлы на одну неделю
    <FilesMatch "\.(js|css|txt|ttf)$">
        Header set Cache-Control "max-age=604800"
    </FilesMatch>
    #кэшировать флэш и изображения на месяц
    <FilesMatch "\.(flv|swf|ico|gif|jpg|jpeg|png)$">
        Header set Cache-Control "max-age=2592000"
    </FilesMatch>
</IfModule>

# сжатие text, html, javascript, css, xml:
<ifModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>

# кеш браузера
<ifModule mod_expires.c>
ExpiresActive On

#по умолчанию кеш в 5 секунд
ExpiresDefault "access plus 1 days"

# Включаем кэширование изображений и флэш на месяц
ExpiresByType image/x-icon "access plus 1 month"
ExpiresByType image/jpeg "access plus 4 weeks"
ExpiresByType image/png "access plus 30 days"
ExpiresByType image/gif "access plus 43829 minutes"
ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"

# Включаем кэширование css, javascript и текстовых файлоф на одну неделю
ExpiresByType text/css "access plus 604800 seconds"
ExpiresByType text/javascript "access plus 604800 seconds"
ExpiresByType application/javascript "access plus 604800 seconds"
ExpiresByType application/x-javascript "access plus 604800 seconds"

# Включаем кэширование html и htm файлов на один день
ExpiresByType text/html "access plus 43200 seconds"

# Включаем кэширование xml файлов на десять минут
ExpiresByType application/xhtml+xml "access plus 600 seconds"

# Нестандартные шрифты сайта
ExpiresByType application/x-font-ttf "access plus 1 month"
ExpiresByType font/opentype "access plus 1 month"
ExpiresByType application/x-font-woff "access plus 1 month"
ExpiresByType image/svg+xml "access plus 1 month"
ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
</ifModule>
