# Use PHP7.2 as default
AddHandler application/x-httpd-ea-php72 .php


<IfModule mod_charset.c>

CharsetSourceEnc utf-8

CharsetDefault utf-8

</IfModule>

Options -Indexes

Options +SymLinksIfOwnerMatch

<IfModule mod_expires.c>

ExpiresActive on

ExpiresDefault                                "access plus 1 month"

ExpiresByType text/cache-manifest             "access plus 0 seconds"

# HTML

<FilesMatch \.(html|xhtml|xml|shtml|phtml|php|txt)$>

ExpiresDefault "access plus 0 seconds"

</FilesMatch>

ExpiresByType text/html                       "access plus 0 seconds"

# Data

ExpiresByType text/xml                        "access plus 0 seconds"

ExpiresByType application/xml                 "access plus 0 seconds"

ExpiresByType application/json                "access plus 0 seconds"

# XML

ExpiresByType application/rss+xml             "access plus 1 hour"

ExpiresByType application/atom+xml            "access plus 1 hour"

# Favicon

<FilesMatch \.(ico)$>

ExpiresDefault "access plus 1 week"

</FilesMatch>

ExpiresByType image/x-icon                    "access plus 1 week"

# Media

<FilesMatch \.(gif|png|jpg|jpeg|ogg|mp4|mkv|flv|swf|wmv|asf|asx|wma|wax|wmx|wm)$>

ExpiresDefault "access plus 1 year"

</FilesMatch>

ExpiresByType image/gif                       "access plus 1 month"

ExpiresByType image/png                       "access plus 1 month"

ExpiresByType image/jpeg                      "access plus 1 month"

ExpiresByType video/ogg                       "access plus 1 month"

ExpiresByType audio/ogg                       "access plus 1 month"

ExpiresByType video/mp4                       "access plus 1 month"

ExpiresByType video/webm                      "access plus 1 month"

# HTC (css3pie)

ExpiresByType text/x-component                "access plus 1 month"

# Font

<FilesMatch \.(eot|ttf|otf|svg|woff)$>

ExpiresDefault "access plus 1 year"

</FilesMatch>

ExpiresByType application/x-font-ttf          "access plus 1 month"

ExpiresByType font/opentype                   "access plus 1 month"

ExpiresByType application/x-font-woff         "access plus 1 month"

ExpiresByType image/svg+xml                   "access plus 1 month"

ExpiresByType application/vnd.ms-fontobject   "access plus 1 month"

# CSS и JavaScript

<FilesMatch \.(css|js)$>

ExpiresDefault "access plus 1 year"

</FilesMatch>

ExpiresByType text/css                        "access plus 1 year"

ExpiresByType application/javascript          "access plus 1 year"

# Static

<FilesMatch \.(swf|pdf|doc|rtf|xls|ppt)$>

ExpiresDefault "access plus 1 year"

</FilesMatch>

ExpiresByType application/x-shockwave-flash   "access plus 1 year"

ExpiresByType application/pdf                 "access plus 1 year"

ExpiresByType application/msword              "access plus 1 year"

ExpiresByType application/rtf                 "access plus 1 year"

ExpiresByType application/vnd.ms-excel        "access plus 1 year"

ExpiresByType application/vnd.ms-powerpoint   "access plus 1 year"

</IfModule>
